@page
@model LitList.Pages_Users.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <div class="row">
        <div class="col-6">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.User.Name)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.User.Name)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.User.DateJoined)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.User.DateJoined)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.User.Bio)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.User.Bio)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.User.UserBooks)
                </dt>
                <!-- Delete button and Book Titles -->
                <dd class="col-sm-8">
                    <div class="row">
                    @foreach(var book in Model.User.UserBooks!)
                    {
                        <form method="post">
                            <input type="hidden" asp-for="BookIDToDelete" value="@book.Book.BookID" />
                            <button type="submit" class="btn btn-danger btn-sm my-1" asp-page-handler="RemoveBook" asp-route-id="@Model.User.UserID">
                                <i class="bi bi-x"></i>
                            </button>
                            @Html.DisplayFor(model => book.Book.Title)
                            <br>
                        </form>
                    }
                    </div>
                </dd>
            </dl>
        </div>
        <div class="col-6">
            <h6>Finished reading a book? Add it here!</h6>
            <form method="post">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <select asp-for="BookIDToAdd" asp-items="Model.BooksDropDown" class="form-select">
                            <option value="">Choose...</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary" asp-page-handler="AddBook" asp-route-id="@Model.User.UserID">Add Book</button>
                    </div>
                    <div class="col-auto">
                        <span asp-validation-for="BookIDToAdd" class="text-danger"></span>
                    </div>
            </form>
        </div>
    </div>
</div>
<!-- links -->
<div>
    <a asp-page="./Edit" asp-route-id="@Model.User.UserID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
