@page
@model LitList.Pages_Users.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1>LitList Community Hub</h1>
    <h6>
        <a asp-page="Create">New User? Sign up Here!</a>
    </h6>
    <br />
</div>

<div>
    @foreach (var user in Model.User)
    {
        <div class="card mb-2" style="width:auto max-content;">
            <div class="card-header">
                <div class="row">
                    <div class="col-10">
                        <h3>@Html.DisplayFor(modelItem => user.Name)</h3>
                    </div>
                    <div class="col-2">
                        <div class="text-end">
                            <a asp-page="./Edit" asp-route-id="@user.UserID" class="btn btn-primary" role="button">
                                <i class="bi bi-pen"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <strong>Bio: </strong>@Html.DisplayFor(modelItem => user.Bio)
                <br />
                <br />
                <strong>@Html.DisplayNameFor(modelItem => user.UserBooks):</strong>
                <br />
                @foreach (var book in user.UserBooks!)
                {
                    @book.Book.Title <br />
                }
                <a asp-page="Details" asp-route-id="@user.UserID" class="btn btn-primary mt-2" role="button">
                    <i class="bi bi-book"></i>  Edit Books
                </a>
                <hr>
                <div class="row">
                    <div class="col-10">
                        <small class="text-body-secondary">Date Joined: @Html.DisplayFor(modelItem => user.DateJoined)</small>
                    </div>
                    <div class="col-2">
                        <div class="text-end">
                            <a asp-page="Delete" asp-route-id="@user.UserID" class="btn btn-danger" role="button">
                                <i class="bi bi-x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
